<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.miniSpring.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="name" value="CMD137"/>
    </bean>

    <bean class="com.miniSpring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.miniSpring.test.bean.PerformanceInterceptor"/>

    <bean id="methodInterceptor" class="com.miniSpring.aop.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.miniSpring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.miniSpring.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>
